.coupon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.discount-rate{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.second-layer-navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.third-layer-navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.lang{
    display: flex;
    align-items: center;
}

.lang-value{
    display: flex;
    align-items: center;
    padding: 5px;
}

.lang-hidden{
    /* display: none; */
    position: relative;
    left: -180px;
    top: 65px;
    width: 140px;
    padding: 10px;
}

.currency{
    /* display: none; */
    position: relative;
    left: -160px;
    top: 45px;
    width: 120px;
    padding: 10px;
}



.cart{
    position: relative;
}

.cart-count{
    position: absolute;
    right: -7px;
    top: -12.5px;
    background-color: #ffffff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    font-size: 12px;
    font-weight: bolder;
    color: green;
}

.social-media{
    display: flex;
    align-items: center;
}

.search-box{
    position: relative;
}

.search-icon{
    position: absolute;
    right: 2.5px;
    top: 4.5px;
    padding: 0.6px;
    margin-right: 10px;
}
input::placeholder{
    margin-top: -10px;
}

@media(max-width:700px) {
    .navbar{
        width: 100%;
    }
    .coupon{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 11px;
        margin-bottom: 5px;
    }
    .second-layer-navbar{
        display: block;
        width: 100%;
    }
    .third-layer-navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .search-icon{
        padding: 2px;
        margin-right: 5px;

    }
    
}


